.mediaViewInfo {
    --web-view-name: 2 채팅;
    --web-view-id: n__;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

:root {
    --web-view-ids: n__;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

#n__ {
    position: absolute;
    width: 375px;
    height: 812px;
    background-color: rgba(255, 255, 255, 1);
    overflow: hidden;
    --web-view-name: 2 채팅;
    --web-view-id: n__;
    --web-scale-on-resize: true;
    --web-enable-deep-linking: true;
}

#free-icon-robot-6134346_1 {
    position: absolute;
    width: 234px;
    height: 245px;
    left: 71px;
    top: 151px;
    overflow: visible;
}

#n____Press_the_button_while_yo {
    left: 52px;
    top: 418px;
    position: absolute;
    overflow: visible;
    width: 269px;
    height: 89px;
    line-height: 24px;
    margin-top: -3px;
    text-align: center;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(0, 0, 0, 1);
}

#free-icon-voice-7240059_1 {
    position: absolute;
    width: 148px;
    height: 147px;
    left: 112px;
    top: 529px;
    overflow: visible;
}

#Top_Bar {
    position: absolute;
    width: 375px;
    height: 90px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Top_Bar_p {
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(237, 237, 237, 1);
    stroke-width: 1px;
    stroke-linejoin: miter;
    stroke-linecap: butt;
    stroke-miterlimit: 4;
    shape-rendering: auto;
}

.Top_Bar_p {
    position: absolute;
    overflow: visible;
    width: 375px;
    height: 90px;
    left: 0px;
    top: 0px;
}

#Status_Bar {
    position: absolute;
    width: 30px;
    height: 23px;
    left: 22px;
    top: 13px;
    overflow: visible;
}

#Frame {
    position: absolute;
    width: 30px;
    height: 23px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#n_41 {
    left: 0px;
    top: 0px;
    position: absolute;
    overflow: visible;
    width: 40px;
    height: 23px;
    text-align: left;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: rgba(15, 24, 40, 1);
}

#Frame_t {
    position: absolute;
    width: 1px;
    height: 1px;
    left: -6076px;
    top: -5963px;
    overflow: visible;
}

#Wrapper {
    position: absolute;
    width: 334.712px;
    height: 20px;
    left: 24.288px;
    top: 52px;
    overflow: visible;
    --web-animation: fadein undefineds undefined;
    --web-action-type: page;
    --web-action-target: 1_______.html;
    cursor: pointer;
}

#Icon {
    position: absolute;
    width: 7.424px;
    height: 12.02px;
    left: 0px;
    top: 3.99px;
    overflow: visible;
}

#Vector {
    fill: rgba(15, 24, 40, 1);
}

.Vector {
    overflow: visible;
    position: absolute;
    width: 7.424px;
    height: 12.02px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Chat {
    left: 23.712px;
    top: 0px;
    position: absolute;
    overflow: hidden;
    width: 312px;
    height: 20px;
    line-height: 30px;
    margin-top: -6px;
    text-align: left;
    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: rgba(15, 24, 40, 1);
}

#Bottom_Bar {
    position: absolute;
    width: 375px;
    height: 83px;
    left: 0px;
    top: 729px;
    overflow: visible;
}

#Bottom_Bar_z {
    fill: rgba(255, 255, 255, 1);
}

.Bottom_Bar_z {
    filter: drop-shadow(0px -1px 48px rgba(0, 0, 0, 0.039));
    position: absolute;
    overflow: visible;
    width: 519px;
    height: 227px;
    left: 0px;
    top: 0px;
}

#Home_Indicator {
    position: absolute;
    width: 131px;
    height: 5px;
    left: 122px;
    top: 70px;
    overflow: visible;
}

#n_Corners {
    fill: rgba(0, 0, 0, 1);
}

.n_Corners {
    display: none;
    overflow: visible;
    position: absolute;
    width: 375px;
    height: 17.947px;
    left: -122px;
    top: -4.947px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Home_Indicator_ {
    opacity: 0.9;
    fill: rgba(15, 24, 40, 1);
}

.Home_Indicator_ {
    position: absolute;
    overflow: visible;
    width: 131px;
    height: 5px;
    left: 0px;
    top: 0px;
}

#Wrapper_ {
    position: absolute;
    width: 268.5px;
    height: 44px;
    left: 52.5px;
    top: 12px;
    overflow: visible;
}

#Menu {
    position: absolute;
    width: 31px;
    height: 44px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Chats {
    left: 0px;
    top: 30px;
    position: absolute;
    overflow: hidden;
    width: 32px;
    height: 14px;
    text-align: left;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(0, 45, 227, 1);
}

#chat {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 4px;
    top: 0px;
    overflow: visible;
}

#Vector_ {
    fill: rgba(0, 45, 227, 1);
}

.Vector_ {
    overflow: visible;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 2px;
    top: 2px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Vector_ba {
    fill: transparent;
}

.Vector_ba {
    overflow: visible;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Menu_ {
    position: absolute;
    width: 32px;
    height: 44px;
    left: 117.5px;
    top: 0px;
    overflow: visible;
    --web-animation: fadein undefineds undefined;
    --web-action-type: page;
    --web-action-target: 3_____.html;
    cursor: pointer;
}

#Video {
    left: 0px;
    top: 30px;
    position: absolute;
    overflow: hidden;
    width: 33px;
    height: 14px;
    text-align: left;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(173, 181, 189, 1);
}

#search {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 6px;
    top: 0px;
    overflow: visible;
}

#Vector_bc {
    fill: rgba(173, 181, 189, 1);
}

.Vector_bc {
    overflow: visible;
    position: absolute;
    width: 17.49px;
    height: 17.49px;
    left: 3px;
    top: 3px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Vector_bd {
    fill: transparent;
}

.Vector_bd {
    overflow: visible;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Menu_be {
    position: absolute;
    width: 25px;
    height: 44px;
    left: 243.5px;
    top: 0px;
    overflow: visible;
    --web-animation: fadein undefineds undefined;
    --web-action-type: page;
    --web-action-target: 4____.html;
    cursor: pointer;
}

#account_box {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    overflow: visible;
}

#Vector_bg {
    fill: rgba(173, 181, 189, 1);
}

.Vector_bg {
    overflow: visible;
    position: absolute;
    width: 18px;
    height: 18px;
    left: 3px;
    top: 3px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#Vector_bh {
    fill: transparent;
}

.Vector_bh {
    overflow: visible;
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0px;
    top: 0px;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

#User {
    left: 0px;
    top: 30px;
    position: absolute;
    overflow: hidden;
    width: 26px;
    height: 14px;
    text-align: left;
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: rgba(173, 181, 189, 1);
}