.Top-Bar {
  width: 375px;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 14px;
  margin: 0 0 639px;
  padding: 13px 16px;
  border: solid 1px #ededed;
  background-color: #fff;
}

img.free-icon-robot-6134346-1 {
  width: 213px;
  height: 193px;
  margin: 228px 26px 0 25px;
  object-fit: contain;
}
