<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link
      href="{{ url_for('static', path='/css/main.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="Top-Bar"></div>
    <!-- png -->
    <img
      src="{{ url_for('static', path='/img/free-icon-robot-6134346-1.png') }}"
      srcset="
        img/free-icon-robot-6134346-1@2x.png 2x,
        img/free-icon-robot-6134346-1@3x.png 3x
      "
      class="free-icon-robot-6134346-1"
    />
  </body>
</html>
